.header {
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;

    justify-content: space-between;
    
    padding: 0px 5%;

    text-decoration: none;
    color: black;

    .row {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .title {
        margin-top: 5lvh;

        h1 {
            position: absolute;
            margin: 0px;
            margin-top: 80px;
            font-size: 100px;
            z-index: 1;

            text-align: center;
        }
    }

    img {
        position: absolute;
        z-index: 0;

        width: 100%;
        max-width: 500px;
        height: auto;
    }
}

.social-links {
    margin-top: min(100lvw, 500px);
    padding-top: 20px;
}

@media (min-width: 1200px) { 
    .header {
        flex-flow: row;
        justify-content: space-between;
        
        .title {
            display: flex;
            flex-flow: row;

            align-items: center;

            margin: 10px;
    
            h1 {
                position: relative;
                margin: 0px;

                font-size: 60px;
            }
        }

        img {
            position: relative;
            height: 100px;
            width: auto;
        }
    }

    .social-links {
        margin: 0px;
        padding: 0px;
    }
}