.header {
    width: 100%;
    padding: 5lvw;
    padding-bottom: 0px;

    display: flex;
    flex-flow: column;
    align-items: center;

    justify-content: space-between;

    background-color: white;

    
}

.title {
    display: flex;
    flex-flow: column;
    align-items: center; 
    
    width: 100%;

    color: #000;
    text-decoration: none;
}

h1 {
    font-size: 100px;
    text-align: center;

    margin: 0px;
    margin-top: 15px;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

    text-align: center;

    padding-top: 20px;
}

nav a {
    display: flex;
    flex-flow: column;
    justify-content: center;

    color: #000;
    text-decoration: none;

    border-top: solid grey;
    border-bottom: solid grey;

    padding: 20px;
    font-size: 24px;
}
nav a:first-child {
    border-top-left-radius: 10px;
}
nav a:last-child {
    border-top-right-radius: 10px;
}

.selected-link {
    color: red;
    background-color: #EFEFEF;
}

@media (min-width:800px) {
    .header {
        padding-top: 2lvw;
    }
}