.header {
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;

    justify-content: space-between;
    
    padding: 0px 5%;

    text-decoration: none;
    color: black;
}

// Column when mobile, then becomes row when there is enough room
.header .row {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.header .title {
    margin-top: 10px;
    margin-bottom: 310px;
}

.header .title h1 {
    margin: 0px;
    margin-top: 40px;
    font-size: 60px;
    z-index: 1;
}

.header img {
    position: absolute;
    z-index: 0;

    height: 400px;
}

.tab-bar {
    max-width: 80%;

    /* flexbox */
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    justify-content: space-around;

    margin: 0 10px;
}

@media (min-width: 1200px) {
    .header .row {
        flex-flow: row;
    }    

    .header .title {
        margin: 10px;
    }

    .header .title h1 {
        margin: 0px;
    }

    .header {
        flex-flow: row;

        background-color: #FEFEFE;
    }

    .header img {
        position: relative;
        height: 100px;
    }

    .header {
        justify-content: space-between;

        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
}