<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer">
    <p>Nathan A. Fox</p>
    <p>Software Engineer</p>
    <a class="email" href="mailto::nathanafox.us@gmail.com">nathanafox.usgmail.com</a>
    <div class="social-icons">
        <a class="fa fa-aws" href="https://www.credly.com/badges/cf666f16-09a9-44b9-9b53-79bba10756d5/public_url"  target="_blank" title="aws-certified-developer-associate">
            <img style="object-fit: contain;" alt="AWS Certified Developer Associate" src="assets/aws-certified-developer-associate.png">
        </a>
    
        <a class="fa fa-github" href="https://www.github.com/nathanafox-us" target="_blank" title="github"></a>
        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/nathanafox/" target="_blank" title="linkedin"></a>
    </div>
</div>