a {
    text-decoration: none;
}

.card {
    transition: 0.3s;

    display: flex;
    flex-flow: column;

    border-radius: 10px;

    background-color: rgb(53, 45, 39);
    border: solid black 1px;
    
    max-width: 330px;
    margin: auto;
}

.card label {
    text-align: center;
    font-size: large;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    padding: 10px;

    color: whitesmoke;
}

.card .details {
    padding-inline: 20px;
    height: 70px;
    background-color: rgb(205, 111, 64);
    text-align: center; 
    color: black;
}

.card .fa-github {
    align-self: flex-end;
    color: black;
    margin: 20px;
}

.chart-container {
    background-color: rgb(234, 225, 218);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    height: 150px;

    pointer-events: none;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.language-wheel {
    text-align: center;
}