.inquiries-page {
    display: flex;
    flex-flow: column;

    align-items: center;
}

.row {
    display: flex;
    flex-flow: row;
}

.contact-me {
    margin: 20px;
    font-size: 30px;
}

.inquiries-page input {
    margin-bottom: 10px;   
    padding: 15px;
    border-radius: 20px;
    border: solid grey;
    width: 85%;
}
.inquiries-page textarea {
    margin: 10px;   
    padding: 15px;
    border-radius: 20px;
    border: solid grey;

    resize: vertical;

    width: 85%;
    height: 200px;
}

.inquiries-page .submit {
    justify-content: center;
}

.inquiries-page a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;

    border-radius: 20px;
    background-color: bisque;
    color: #222;
}

.inquiries-page a:hover {
    background-color: rgb(255, 200, 132);
    cursor: pointer;
}