/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fff7eb;
    margin: 0px;
}

.page-content {
    margin: auto;

    border: solid grey;
    border-radius: 10px;

    max-width: 80%;

    background-color: #FEFEFE;
}