/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fff7eb;
    margin: 0px;
}

.page-content {
    margin: auto;
    margin-top: 150px;

    max-width: 90%;
    border: solid grey;
    border-radius: 10px;

    background-color: #FEFEFE;
}