<div class="page-content">
    <div class="mission-section">
        <h2 class="title">Mission</h2>
        <p>I am dedicated to making a flexible, reliable product that betters the community.</p>
        <p>Let's lead by example and save the world with healthy business practices and good software security.</p>  
        <ul>
            <li>I keep all personal data private</li>
            <li>I give frequent updates on progress</li>
            <li>I perform and report product testing to ensure compliance to standards and preferences</li>
            <li>I respond promptly</li>
            <li>I deliver a fast loading product</li>
            <li>I don't take jobs outside of my area of expertise</li>
        </ul> 
    </div>
    
    <div class="github-section">
        <h2 class="title">Github Projects</h2>
        <div class="card-list">
            @for (project of projects; track $index) {
                @if (project.language != null) {
                    <app-github-card 
                        [projectTitle]=project.name
                        [projectDetails]=project.description
                        [cloneUrl]=project.clone_url
                        [languagesUrl]=project.languages_url>
                    </app-github-card>
                }
            }  
        </div>
    </div>
</div>