<div class="page-content info-section">
    <h2>Mission Statement</h2>
    <p> 
        I am dedicated to making a flexible, reliable product that betters the community.
        Let's lead by example and save the world with healthy business practices and good
        software safety.
    </p>
    
    <h2>Guarantees</h2>
    <ul>
        <li>I will keep all personal data private</li>
        <li>I will give frequent updates on progress</li>
        <li>I will perform and report product testing to ensure compliance to standards and preferences</li>
        <li>I will respond to all messages swiftly</li>
        <li>I will deliver a fast loading product</li>
        <li>I will not take on jobs outside of my area of expertise</li>
    </ul>

    <a class="contact-me" href="/inquiries" title="contact-me">Contact Me</a>
</div>

<div class="page-content projects-section">
    <h2 style="text-align: center;">Github Projects</h2>
    <div class="card-list">
        @for (project of projects; track $index) {
            <app-github-card 
            [projectTitle]=project.name
            [projectDetails]=project.description
            [cloneUrl]=project.clone_url
            [languagesUrl]=project.languages_url
            ></app-github-card>
        }  
    </div>
</div>