.projects-section {
    display: flex;
    flex-flow: column;
}

.info-section {
    display: flex;
    flex-flow: column;
}

a.contact-me {
    align-self: center;
    text-decoration: none;

    background-color: bisque;
    color: #222;

    padding: 10px;
    
    border-radius: 20px;
}

.card-list {
    display: inline-grid;
    grid-template-columns: 1fr;
}

@media (min-width: 850px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1300px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}